* {
    margin: 0;
    padding: 0;
}

:root {
    --bloo: 48, 41, 255;
    display: table;
    margin: auto;
    font-family: Arial;
}

body {
    counter-reset: chapter-counter;
    counter-reset: section-counter;
    display: table-cell;
    vertical-align: middle;
    min-width: 600px;
    max-width: 600px;
}

h1, h2, h3, hsec, hsubsec {
    display: block;
}

h1 {
    font: bold 170% sans-serif;
    margin-top: 0.67em; 
    margin-bottom: 0.67em;
}

h2, hsec {
    font: bold 140% sans-serif;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3, hsubsec {
    font: bold 120% sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 8px;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

a:link, a:visited, .toggle {
    text-decoration: none;
    color: blue;
 }

a:hover, a:active, .toggle:hover  {
    color: orange;
}

section {
    counter-reset: subsection-counter;
    counter-increment: section-counter;
}

hsec::before {
    content: counter(chapter-counter) "." counter(section-counter) " ";
}

subsection {
    counter-increment: subsection-counter;
}

hsubsec::before {
    content: counter(chapter-counter) "." counter(section-counter) "." counter(subsection-counter) " ";
}

.menu {
    display: flex;
    padding-top: 12px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    list-style:none;
    display: inline-block;
    padding-right: 12px;
}

/*div + div {
    margin-top: 1em;
}*/