:root {
    counter-reset: example-counter;
}

div {
    position:relative;
}

display, .display{ /*need to remove .display after converting*/
    text-align: center;
    display: block;
    padding: 16px 0px 16px 0px;
}

definition, technique {
    /*color: rgb(var(--bloo));*/
    font-weight: bold;
    /*background-color: rgba(var(--bloo), 0.03);*/
}

bad {
    color: red;
    font-weight: bold;
}

.boxed, example {
    display:block;
    background-color: rgba(var(--bloo), 0.03);
    border-radius: 8px;
    /*border: solid;*/
    padding: 8px;
    margin: 1em 0px 1em 0px;
}

.boxed + .boxed {
    margin-top: 4px;
}

.result-title {
    font-weight: bold;
}

example::before {
    font-weight: bold;
    counter-increment: example-counter;
    content: "Example " counter(example-counter);
}

proof::before {
    font-weight: bold;
    content: "Proof ";
}

/*.toggle {
    font-weight:bold;
    cursor: pointer;
    position:absolute;
    bottom:8px;
    right:8px;
}

.hidden > .solution, .hidden > .proof-content {
    display: none;
}

.visible > .solution {
    display: block;
}

.visible > .proof-content {
    display: inline;
}*/