<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} · {{ site.title }}</title>
  
  {% assign styles = page.styles | default: empty %}
  {% assign libs = page.libs | default: empty %}
  
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% for style in styles %}
    <link rel="stylesheet" href="{{ style }}">
  {% endfor %}

  <!-- KaTeX -->
  {% if libs contains "katex" %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css" integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js" integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
          onload="renderMathInElement(document.body);"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          delimiters: [
            {left: "\[", right: "\]", display: true}, 
            {left: "$", right: "$", display: false}    
          ]
        });
      });
    </script>
  {% endif %}

  <!-- Desmos -->
  {% if libs contains "desmos" %}
    <script src="https://www.desmos.com/api/v1.11/calculator.js?apiKey=daca1bd6da8d4929b6e20d4187270180"></script>
    <script src="{{ '/assets/js/desmos.js' | relative_url }}"></script>
  {% endif %}
</head>