* {
    margin: 0;
    padding: 0;
    color: #FFFFFF
}

:root {
    background-color: #000000;
    display: table;
    margin: auto;
    font-family: Arial;
}

body {
    display: table-cell;
    vertical-align: middle;
    min-width: 600px;
    max-width: 600px;
}

h1,
h2,
h3 {
    display: block;
}

h1 {
    font: bold 170% sans-serif;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2 {
    font: bold 140% sans-serif;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    font: bold 120% sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 8px;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: #b0b0b0
}

a:hover,
a:active,
.toggle:hover {
    color: cyan
}