.toc {
    counter-reset: chapter;
    list-style:none;
    padding-left: 0;
    margin-top: 0;
}

.toc li {
    list-style:none;
    padding-left: 1em;
}

.tocline1 {
    counter-increment: chapter;
    font-weight: bold;
}

.tocline1::before {
  content: counter(chapter) " ";
  font-weight: bold;
}

.tocline2 {
    counter-reset: section;
    font-weight: normal;
}

.tocline2::before {
  counter-increment: section;
  content: counter(chapter) "." counter(section) " ";
}