
body {
    padding: 0;
    margin: 2px;
    font-family: verdana;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    min-width: 1200px;
}

.num {
    font-size: 150px;
}

.unit {
    font-size: 30px;
}