---
layout: default
title: Multivariable Calculus
styles:
    - /assets/css/toc.css
---

<h1>Multivariable Calculus</h1>

<div>
  <h2>Table of Contents</h2>
  <ul class="toc">
    {% assign class_folder = "/pages/materials/multivariable-calculus/" %}
    {% assign class_pages = site.pages | where_exp: "p", "p.url contains class_folder" | sort: "chapter" %}

    {% for chapter_page in class_pages %}
      {% if chapter_page.chapter and chapter_page.section == nil %}
        <li>
          <a href="{{ chapter_page.url }}">{{ chapter_page.chapter }} {{ chapter_page.title }}</a>

          {% assign chapter_folder_name = chapter_page.url | split: '/' | last | remove: '.html' %}
          {% assign pages_in_chapter = "" | split: "" %}

          {% for p in class_pages %}
            {% if p.url contains chapter_folder_name and p.url != chapter_page.url %}
              {% assign pages_in_chapter = pages_in_chapter | push: p %}
            {% endif %}
          {% endfor %}

          {% assign section_pages = pages_in_chapter | sort: "section" %}

          {% if section_pages.size > 0 %}
            <ul>
              {% for section in section_pages %}
                <li>
                  <a href="{{ section.url }}">{{ chapter_page.chapter }}.{{ section.section }} {{ section.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>